extends ./master.pug

block content
    p made as an experiment by <a href="https://paplauskas.lt" target="blank">Tadas Paplauskas</a>.

    p   The idea was to create a twitter "client" for people who do not want to use twitter. I've tried twitter several times and it never sticked with me - it seemed to require too much upkeep to shape your feed into something truly informative and useful. I'm sure I'm not the only one. However, I was amazed by the sheer amount of information passing through the network every day. Surely it could be molded into something useful for news reporting (or at least signaling)?

    p   The main challenge was to tame the wild stream of twitter. I cannot say that I was as successful as I had hoped, but with a few months of (ongoing) fine tuning I've managed to filter out at least 80% of garbage and broadcast (mostly) somewhat interesting trends. So yeah, if something BIG starts to happen in the world (or at least twittersphere), expect to get a notification in an hour or so.

    p   Oh, and this is entirely free. At least while I can keep the lights on myself.