extends ./master.pug

block content
    .row
        .col-md-4.fade-in-faster
            h2 Trending right now

            if trendingList && trendingList.length > 0
                ul.list-unstyled.fade-in-slower
                    each hashtag in trendingList
                        li.fade-in-slower
                            a(href='keywords/' + escape(hashtag.hashtag))= hashtag.hashtag
            else
                p Nothing noteworthy is happening on Twitter right now

        .col-md-4.fade-in-faster
            h2 Most popular today

            if popularList && popularList.length > 0
                ul.list-unstyled.fade-in-slower
                    each hashtag in popularList
                        li
                            a(href='keywords/' + escape(hashtag.hashtag))= hashtag.hashtag
            else
                p Nothing noteworthy is happening on Twitter right now

        .col-md-4
            include ./search_form.pug