extends ./master.pug

block content
    .row
        .col-md-4
            include ./subscribe_form.pug

            p
                h4 Last three emails were about:

                if latestEmails && latestEmails.length > 0
                    ul.list-inline.fade-in-slower
                        each email in latestEmails
                            li.fade-in-slower
                                a(href='keywords/' + escape(email.hashtag))= email.hashtag

        .col-md-4.fade-in-faster
            h2 Trending hashtags

            if trendingHashtagsList && trendingHashtagsList.length > 0
                ul.list-unstyled.fade-in-slower
                    each hashtag in trendingHashtagsList
                        li.fade-in-slower
                            a(href='keywords/' + escape(hashtag.hashtag))= hashtag.hashtag
                            | <!-- #{hashtag.zscore} -->
            else
                p Nothing  show, sorry.

            small (only the top few trends are emailed)

        .col-md-4.fade-in-faster
            h2 Popular hashtags

            if popularHashtagsList && popularHashtagsList.length > 0
                ul.list-unstyled.fade-in-slower
                    each hashtag in popularHashtagsList
                        li.fade-in-slower
                            a(href='keywords/' + escape(hashtag.hashtag))= hashtag.hashtag
                            | <!-- #{hashtag.mentions} -->
            else
                p Nothing to show, sorry.