h2 Search for tag or keyword
p You can subscribe to get notified by email when a particular tag starts gaining momentum.

form#search-form.input-group
    input#search-input.form-control(type="text" placeholder="#" value="#")
    .input-group-btn
        button.btn.btn-default(type="submit") Go!