form#search-form.input-group
    if (keyword !== undefined)
        input#search-input.text-center.form-control(type="text" placeholder="#" value=keyword)
    else
        input#search-input.text-center.form-control(type="text" placeholder="Hastag or keyword")
    .input-group-btn
        button.btn.btn-default(type="submit") Search