h2 Subscribe
p Get notified by email when something starts trending like crazy.

form.input-group(method="POST" action="/subscribe")
    input.form-control.text-center(type="text" placeholder="jon@doe.com" name="email")
    .input-group-btn
        button.btn.btn-default(type="submit") Subscribe for trends

.subscription-description We will notify you when a hashtag starts trending extraordinarily. This tool focuses on speed and no categorization is implemented right now, so you should expect to see some korean boybands next to your usual political scandals or natural disasters.
    a(href="/about") Read more.