extends ./master.pug

block content
    h3= subscriber.email
    h3 Blacklisted
    .row

    if subscriber.blacklist !== undefined && subscriber.blacklist.length > 0
        each item in subscriber.blacklist
            .col-xs-6.text-right= item
            .col-xs-6.text-left
                a(href=remove_link + encodeURIComponent(item)) (remove)
    else
        | Nothing here