extends ./master.pug

block content
    if(err)
        h3 Oops...
        p= err.message
    else
        h3 Sucess!
        p You should receive a link in your email box. Click it to confirm your subscription.