h2 Subscribe
p Get notified by email when something starts trending like crazy.

form.input-group(method="POST" action="/subscribe")
    input.form-control.text-center(type="text" placeholder="jon@doe.com" name="email")
    .input-group-btn
        button.btn.btn-default(type="submit") Subscribe for trends