extends ./master.pug

block content
    if(err)
        h3 Oops...
        p= err
    else
        h3 Sucess!
        p You are now subscribed to the mailing list. We will notify you as soon as we find something that might be interesting.