h2 Subscribe
p Get notified when #hashtags start trending like crazy.

form.input-group(method="POST" action="/subscribers")
    input.form-control.text-center(type="text" placeholder="jon@doe.com" name="email")
    .input-group-btn
        button.btn.btn-default(type="submit") Subscribe for trends

.subscription-description This tool focuses on speed and there's no categorization or editorial process, so you should expect to see some korean boybands next to your usual political scandals or natural disasters.
    a(href="/about") &nbsp;Read more.