h2 Subscribe
p Get notified when a hashtag starts trending like crazy.

form.input-group(method="POST" action="/subscribers")
    input.form-control.text-center(type="text" placeholder="jon@doe.com" name="email")
    .input-group-btn
        button.btn.btn-default(type="submit") Subscribe for trends

.subscription-description This tool focuses on speed and there's no editorial process, so expect to see some korean boybands next to your usual GOT spoilers or sports events.
    p
        a(href="/about") Read more.